/* Style for the main navbar container */
.navbar {
	display: flex;
	align-items: center;
	/*justify-content: flex-start;*/
	justify-content: space-between;
	background: #c0c0c0;
	color: black;
	/*padding: 5px 0; !* Reduced padding *!*/
	margin: 0;
	width: 100%;
	border: 2px solid;
	border-color: #ffffff #808080 #808080 #ffffff;
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	position: fixed; /* Fix navbar to the top of the page */
	top: 0; /* Align navbar to the top */
	left: 0; /* Align navbar to the left */
	z-index: 1000;
	/*transition: background 0.5s ease-in-out;*/
}

.navbar:hover {
	background: linear-gradient(to bottom right, #226a50, yellow);
	/*transition: background 0.5s ease-in-out;*/
}

.nav-items-container {
	display: flex;
	flex-grow: 1; /* This will allow the container to grow and take available space */
}

/* Style for the container of social media icons */
.social-items-container {
	display: flex;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	margin-right: 3px;
	border-style: inset;



	/* No changes needed here */
}

/* Style for individual social media items */
.social-item img {
	width: 36px; /* Adjust size as needed */
	/*height: 36px; !* Adjust size as needed *!*/
	/*margin-left: 10px; !* Space between icons *!*/
	margin-left:3px;
	margin-right:3px;
}

.spotlight {
	position: absolute;
	pointer-events: none; /* Ensure the spotlight doesn't interfere with mouse events */
	border-radius: 50%;
	width: 100px; /* Diameter of the spotlight */
	height: 100px; /* Diameter of the spotlight */
	background-color: rgba(255, 105, 180, 0.7); /* Your desired spotlight color with transparency */
	box-shadow: 0 0 15px 10px rgba(255, 105, 180, 0.7); /* Faded edges */
	transform: translate(-50%, -50%); /* Center the spotlight on the cursor */
	transition: transform 0.1s; /* Smooth transition for the movement */
	display: none; /* Hidden initially */
}

/* Style for navbar items and dropdown */
.nav-item, .dropdown {
	display: inline-block;
	text-align: left; /* Align text to the left */
	padding: 1px; /* Reduced padding */
}

.social-item{
	display:inline-block;
	text-align:right;
	padding:1px;
	height: 100%;
}

.social-image{
	width: 100%;
}

.nav-item a {
	display: inline-block;
	padding: 5px 10px;
	background-color: #c0c0c0;
	color: black;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	border: 2px outset #ffffff;
	box-shadow: 1px 1px 0 #000;
	text-align: left; /* Align text to the left */
}

/* Style for navbar item links */
.nav-item:hover {

	/*border: 2px inset #ffffff;*/
}

/* Style for navbar item links on hover */
.nav-item a:hover {
	background-color: #226a50;
	color: white;
	border: 2px inset #ffffff;
}


/* Style for the dropdown button */
.dropbtn {
	display: inline-block;
	padding: 5px 10px;
	background-color: #c0c0c0;
	color: black;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	border: 2px outset #ffffff;
	box-shadow: 1px 1px 0 #000;
	text-align: left; /* Align text to the left */
	position: relative;
}

/* Style for the dropdown button on hover */
.dropbtn a:hover {
	background-color: #226a50;
	color: white;
}

/* Style for the dropdown container */
.dropdown {
	display: inline-block;
	position: relative;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	/*background-color: #f9f9f9;*/
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: 0;
}

/* Style for links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Style for dropdown links on hover */
.dropdown-content a:hover {
	background-color: #226a50;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) { /* Adjust the max-width as needed */

	.body-container{
		padding-top: 270px;
	}

	.navbar {
		flex-direction: column; /* Stack items vertically */
		align-items: stretch;
		height: fit-content;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	.nav-items-container {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		border:none;
	}



	.nav-item, .dropdown {
		display: block; /* Stack these items vertically */
		width: 100%; /* Full width for each nav and social item */
		text-align: left; /* Align text to the left */
		border:none;
	}

	.social-items-container{
		background-color: #c0c0c0;
}


	.social-item img {
		margin-left: 0; /* Reset left margin for social icons */
		margin-right: 1px; /* Space between icons */
	}

	/* Additional styles for dropdown menu */
	.dropdown-content {
		position: static; /* Adjust dropdown positioning on small screens */
	}

}
