body{
	background-image: linear-gradient(#0f1e3d 90%, forestgreen);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a{
	color: limegreen;
}


.body-container{
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.heading-container{
	padding-top: 5%;
	padding-bottom:5%;
}

.contact-body-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 5%;
	padding-top: 15%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}


.outer-contact-item{
	display: flex;
	flex-direction: column;
	border: 2px solid; /* Border size */
	border-color: #ffffff #808080 #808080 #ffffff; /* 3D effect */
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	background-color: #c0c0c0;
	color: black;
}

.contact-title-container{
	background: #000080;
	margin: 3px;
	color:white;
	padding-left: 3%;
}

.contact-description-container{
	padding-left:5%;
}

.about-body-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 5%;
	padding-top: 15%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.kyle-hinton-bio-container{
	display: flex;
	flex-direction: column;
	border: 2px solid; /* Border size */
	border-color: #ffffff #808080 #808080 #ffffff; /* 3D effect */
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	background-color: #c0c0c0;
	color: black;


}

.kyle-hinton-bio-container:hover{
	border-radius: 20px;
	box-shadow: 30px 35px 2px gold;
	background: mediumpurple;

}





.project-title{
	/*text-decoration: underline;*/
	color:white;
}

.technology-languages{
	padding-left: 3%;
}

.project-presenter-producer{
	padding-left: 3%;
}

.project-mediums{
	padding-left: 3%;
}


.portfolio-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 56px;
}

.development-portfolio-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}

.web-design-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}

.creative-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}

.development-outer-container{
	/*padding-top:5%;*/
}

.web-design-outer-container{
	padding-top:5%;
}

.creative-outer-container{
	padding-top:5%;
}

.portfolio-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}

.portfolio-item {
	border: solid #226a50;
	border-radius: 17px;
	padding: 3%;
}

.portfolio-item{
	border: solid #226a50;
	border-radius: 17px;
	padding: 3%;
}
.development-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}

.project-date{
	padding-left: 3%;
}

.project-item{
	display: flex;
	flex-direction: column;
	border: 2px solid; /* Border size */
	border-color: #ffffff #808080 #808080 #ffffff; /* 3D effect */
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	background-color: #c0c0c0;
	color: black;
	/*border-radius: 17px;*/
	/*padding: 3%;*/
	transition: box-shadow 0.3s;
}

.project-item:hover{
	border-radius: 20px;
	box-shadow: 30px 35px 2px gold;
	background: mediumpurple;
}



.project-item:hover  .project-title-container{
	border-radius: 20px;
	background: #226a50;
	margin: 3px;
}

.project-item:hover  .project-title{
	text-decoration: underline;
}

.project-title-container{
	background: #000080;
	margin: 3px;
}

.bio-title-container{
	background: #000080;
	margin: 3px;
	color:white;
}

.contact-body-container{
	/*background: #000080;*/
	margin: 3px;
	color:white;
}

.kyle-hinton-bio-container:hover  .bio-title-container{
	border-radius: 20px;
	background: #226a50;
	margin: 3px;
}

.kyle-hinton-bio-container:hover  .bio-title-container{
	text-decoration: underline;
}


.bio-title{
	padding-left: 12px;
}


.project-title{
	padding-left: 12px;
}

.bio-description-container{
	padding: 3%;
}





.project-image-description-container{
	padding: 3%;
	display:flex;
	flex-direction:row;
}

.outer-description-container{
	display:flex;
	flex-direction:column;
}

.project-image-container{
	width:480px;
}

.project-feature-photo{
	width:480px;
}



.project-description-container{
	padding-left: 12px;
}

.creative-grid-item{
	border: solid #226a50;
	border-radius: 17px;
	padding: 3%;
}

.project-link-list{
	list-style: none;
}

.project-links{
	padding-left: 3%;
}

ul.project-link-list {
	list-style: none; /* Remove default list styling */
	/*padding: 0; !* Remove default padding *!*/
}

ul.project-link-list li {
	display: inline-block; /* Display list items inline */
	margin-right: 10px; /* Spacing between buttons */
}

ul.project-link-list li a {
	display: inline-block;
	padding: 5px 10px;
	background-color: #c0c0c0; /* Light gray background, typical of Windows 95 */
	color: black;
	text-decoration: none; /* Remove underline from links */
	font-family: Arial, Helvetica, sans-serif; /* Fallback font similar to MS Sans Serif */
	font-size: 1rem;
	border: 2px outset #ffffff; /* Creates the 3D button effect */
	box-shadow: 1px 1px 0 #000; /* Adds depth to the button */
}

ul.project-link-list li a:hover{

	background-color: #226a50;
	color: white;

}

ul.project-link-list li a:active {
	border-style: inset; /* Changes the button appearance when clicked */
}

/*Extra Large Devices (Large Desktops, >1200px):*/
/*Styles for screens wider than 1200px */
@media only screen and (min-width: 1200px) {

}

/*Large Devices (Desktops, 992px - 1200px):*/
/* Styles for screens between 992px and 1200px wide */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/*Medium Devices (Small Laptops, 768px - 992px):*/
/* Styles for screens between 768px and 992px wide */
@media only screen and (min-width: 768px) and (max-width: 992px) {

	.project-image-description-container{
		flex-direction:column;
	}

}

/*Small Devices (Tablets, 600px - 768px):*/
/* Styles for screens between 600px and 768px wide */
@media only screen and (min-width: 600px) and (max-width: 768px) {


	.project-image-description-container{
		flex-direction:column;
	}

	.about-body-container{
		padding-top: 360px;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
}

/*Extra Small Devices (Phones, <600px):*/
/* Styles for screens less than 600px wide */
@media only screen and (max-width: 600px) {
	.project-image-container{
		width:360px;
	}

	.project-feature-photo{
		width:360px;
	}

	.project-image-description-container{
		flex-direction:column;
	}
}

@media only screen and (max-width: 400px) {
	.project-image-container{
		width:240px;
	}

	.project-feature-photo{
		width:240px;
	}

	.project-image-description-container{
		flex-direction:column;
	}
}