body{
	background-image: linear-gradient(#0f1e3d 90%, forestgreen);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a{
	color: limegreen;
}


.body-container{
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.heading-container{
	/*padding-top: 5%;*/
	/*padding-bottom:5%;*/
}

.contact-body-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 5%;
	padding-top: 15%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

#kyle-hinton-title{
	font-size: 4rem;
}

#kyle-hinton-sub-title{
	font-size: 2rem;
}

.outer-contact-item{
	display: flex;
	flex-direction: column;
	border: 2px solid; /* Border size */
	border-color: #ffffff #808080 #808080 #ffffff; /* 3D effect */
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	background-color: #c0c0c0;
	color: black;
}

.contact-title-container{
	background: #000080;
	margin: 3px;
	color:white;
	padding-left: 3%;
}

.contact-description-container{
	padding-left:5%;
}

.about-body-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 5%;
	padding-top: 15%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
}

.kyle-hinton-bio-container{
	display: flex;
	flex-direction: column;
	border: 2px solid; /* Border size */
	border-color: #ffffff #808080 #808080 #ffffff; /* 3D effect */
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	background-color: #c0c0c0;
	color: black;


}

.kyle-hinton-bio-container:hover{
	border-radius: 20px;
	box-shadow: 30px 35px 2px gold;
	background: #a8d5ba;

}

.project-title{
	/*text-decoration: underline;*/
	color:white;
}

.technology-languages{
	padding-left: 3%;
	padding-top:0;
	padding-bottom:0;

}

.project-presenter-producer{
	padding-left: 3%;
	padding-top:0;
	padding-bottom:0;
}

.project-mediums{
	padding-left: 3%;
	padding-top:0;
	padding-bottom:0;
}

.project-date{
	padding-left: 3%;
	padding-top:0;
	padding-bottom:0;
}


.portfolio-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 56px;
}

#portfolio-container{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	grid-gap: 36px;

}


#development-portfolio-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;

}

#web-design-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;

}

#creative-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;

}

.development-outer-container{
	/*padding-top:5%;*/
}

.web-design-outer-container{
	padding-top:5%;
}

.creative-outer-container{
	padding-top:5%;
}

.portfolio-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}

.portfolio-item {
	border: solid #226a50;
	border-radius: 17px;
	padding: 3%;
}

.portfolio-item {
	border: solid #226a50;
	border-radius: 17px;
	padding: 3%;
}

.feature-container {
	margin: 10%;
	display: flex;
	flex-direction: row;
	gap: 12px;
}



#feature-title-image{
	width: 100%;
}

.feature-title-image-container{
	/*width: 480px;*/
}

.development-grid-container{
	display: grid;
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	grid-gap: 72px;
}



.project-item{
	display: grid;
	/*grid-template-rows: auto;*/
	grid-template-columns: repeat(1, minmax(100px, 1fr));
	align-self: start;
	/*display:flex;*/
	/*flex-direction: column;*/
	border: 2px solid; /* Border size */
	border-color: #ffffff #808080 #808080 #ffffff; /* 3D effect */
	box-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000;
	background-color: #c0c0c0;
	color: black;
	/*border-radius: 17px;*/
	/*padding: 3%;*/
	transition: box-shadow 0.3s;
}

.project-item:hover{
	border-radius: 20px;
	box-shadow: 30px 35px 2px gold;
	background: #a8d5ba;
}



.project-item:hover  .project-title-container{
	border-radius: 20px;
	background: #226a50;
	margin: 3px;
}

.project-item:hover  .project-title{
	text-decoration: underline;
}

.project-title-container{
	background: #000080;
	padding: 0;
	height: fit-content; /* Adjust height automatically based on the content */
	/*display: block;*/
	/*margin: 3px;*/
}

.bio-title-container{
	background: #000080;
	margin: 3px;
	color:white;
}

.contact-body-container{
	/*background: #000080;*/
	margin: 3px;
	color:white;
}

.kyle-hinton-bio-container:hover  .bio-title-container{
	border-radius: 20px;
	background: #226a50;
	margin: 3px;
}

.kyle-hinton-bio-container:hover  .bio-title-container{
	text-decoration: underline;
}


.bio-title{
	padding-left: 12px;
}


.project-title{
	padding-left: 12px;
}

.bio-description-container{
	padding: 3%;
}


.project-image-description-container{
	padding: 3%;
	display: grid;
	/*grid-template-rows: auto;*/
	grid-template-columns: repeat(1, minmax(100px, 1fr));
}

.outer-description-container{
	display:grid;
	/*grid-template-rows: auto;*/
	grid-template-columns: repeat(1, minmax(100px, 1fr));

}

.project-image-container {
	display: grid;
	/* Define rows and columns as required */
}

.project-feature-photo{
	width:100%;
}



.project-description-container{
	padding-left: 3%;
	padding-top:0;
	padding-bottom:0;
}

.creative-grid-item{
	border: solid #226a50;
	border-radius: 17px;
	padding: 3%;
}

.project-link-list{
	list-style: none;
}

.project-links{
	padding-left: 3%;
	padding-top:0;
	padding-bottom:0;
}

ul.project-link-list {
	list-style: none; /* Remove default list styling */
	padding: 0; /* Remove default padding */
}

ul.project-link-list li {
	display: inline-block; /* Display list items inline */
	/*margin-right: 10px; !* Spacing between buttons *!*/
	margin-top: 3px;
}

ul.project-link-list li a {
	display: inline-block;
	padding: 5px 10px;
	background-color: #c0c0c0; /* Light gray background, typical of Windows 95 */
	color: black;
	text-decoration: none; /* Remove underline from links */
	font-family: Arial, Helvetica, sans-serif; /* Fallback font similar to MS Sans Serif */
	font-size: 1rem;
	border: 2px outset #ffffff; /* Creates the 3D button effect */
	box-shadow: 1px 1px 0 #000; /* Adds depth to the button */

}

ul.project-link-list li a:hover{

	background-color: #226a50;
	color: white;

}

ul.project-link-list li a:active {
	border-style: inset; /* Changes the button appearance when clicked */
}


.search-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
	gap: 10px; /* Spacing between elements */
}

button {
	padding: 5px 10px;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif; /* Typical Windows 95 font */
	background-color: #c0c0c0; /* Gray background */
	color: black;
	border: 1px solid #fff; /* Light border for 3D effect */
	border-right-color: #808080; /* Darker right border */
	border-bottom-color: #808080; /* Darker bottom border */
	outline: none;
}

#searchInput{
	padding: 5px 10px;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif; /* Typical Windows 95 font */
	background-color: white; /* Gray background */
	color: black;
	border: 1px solid #fff; /* Light border for 3D effect */
	border-right-color: #808080; /* Darker right border */
	border-bottom-color: #808080; /* Darker bottom border */
	outline: none;
}

.search-container {
	display: flex;
	justify-content: left;
	align-items: center;

	gap: 10px; /* Spacing between elements */
	/*background-color: #c0c0c0; !* Gray background *!*/
}

button:hover {
	background-color: #226a50;
}

.fade-effect {
	transition: opacity 500ms ease;
	opacity: 0;
}

/*Extra Large Devices (Large Desktops, >1200px):*/
/*Styles for screens wider than 1200px */
@media only screen and (min-width: 1200px) {
	/*.project-feature-photo{*/
	/*	width:420px;*/
	/*}*/
}

/*Large Devices (Desktops, 992px - 1200px):*/
/* Styles for screens between 992px and 1200px wide */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	#portfolio-container{
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}

	.feature-container {
		flex-direction: column-reverse;
	}
}

/*Medium Devices (Small Laptops, 768px - 992px):*/
/* Styles for screens between 768px and 992px wide */
@media only screen and (min-width: 768px) and (max-width: 992px) {

	#portfolio-container{
		grid-template-columns: repeat(1, minmax(100px, 1fr));
	}

	.feature-container {
		flex-direction: column-reverse;
	}

	.project-image-description-container{
		flex-direction:column;
	}

	#kyle-hinton-title{
		font-size: 3rem;
	}

	#kyle-hinton-sub-title{
		font-size: 1.5rem;
	}

	.search-container {
		flex-direction: column;
	}

	#searchInput, button {
		width: 100%;
	}

}

/*Small Devices (Tablets, 600px - 768px):*/
/* Styles for screens between 600px and 768px wide */
@media only screen and (min-width: 600px) and (max-width: 768px) {

	.feature-container {
		flex-direction: column-reverse;
	}


	.project-image-description-container{
		flex-direction:column;
	}

	#portfolio-container{
		grid-template-columns: repeat(1, minmax(100px, 1fr));
	}

	.about-body-container{
		padding-top: 360px;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 10%;
	}

	.body-container{
		padding-top: 360px;
	}

	#kyle-hinton-title{
		font-size: 2.5rem;
	}

	#kyle-hinton-sub-title{
		font-size: 1.2rem;
	}

	.search-container {
		flex-direction: column;
	}
}

/*Extra Small Devices (Phones, <600px):*/
/* Styles for screens less than 600px wide */
@media only screen and (max-width: 600px) {

	#portfolio-container{
		grid-template-columns: repeat(1, minmax(100px, 1fr));
	}
	.project-image-container{
		width:360px;
	}

	.project-feature-photo{
		width:360px;
	}

	.project-image-description-container{
		flex-direction:column;
	}

	#kyle-hinton-title{
		font-size: 2rem;
	}

	#kyle-hinton-sub-title{
		font-size: 1rem;
	}

	.search-container {
		flex-direction: column;
	}
}

@media only screen and (max-width: 400px) {

	#portfolio-container{
		grid-template-columns: repeat(1, minmax(100px, 1fr));
	}

	.project-image-container{
		width:240px;
	}

	.project-feature-photo{
		width:240px;
	}

	.project-image-description-container{
		flex-direction:column;
	}
	.search-container {
		flex-direction: column;
	}

}